# Ignorar carpetas y archivos específicos de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.env
.idea/
.pytest_cache/
.ipynb_checkpoints/
.mypy_cache/
.vscode/

# Ignorar archivos de paquetes
*.egg-info/
.tox/
dist/
build/

# Ignorar archivos de base de datos SQLite (si usas uno)
*.sqlite3
db.sqlite3

# Ignorar archivos de logs
*.log

# Ignorar archivos de control de versiones (Git)
.git/
.gitignore

# Ignorar otros archivos temporales o de configuración local
*.DS_Store
npm-debug.log
yarn-debug.log
yarn-error.log